---
import xyDiagram from "../assets/xy-base.jpg";
import modernScreens from "../assets/modern-screens.webp";
import xyp3 from "../assets/xyp3.jpg";
import srgbP3Mismatch from "../assets/srgb-p3-mismatch.png";
import figmaPreferences from "../assets/figma-preferences.jpg";
import srgbIssue from "../assets/srgb-issue.png";
import cssP3 from "../assets/cssP3.jpg";
import Slide from "../../../components/Slide.astro";
import CodeBlock from "../../../components/CodeBlock.astro";
import Luminosity from "./Luminosity.svelte";
import Luminance from "./Luminance.svelte";
---

<Slide title="2010's">
	<p>Des écrans plus performants</p>
	<img class="computer" data-src={modernScreens.src} />
</Slide>

<Slide title="P3">
	<img class="diagram" data-src={xyp3.src} />
</Slide>

<Slide title="P3">
	<img
		data-src={cssP3.src}
		alt="CSS code to display a color in P3 space"
		style="height: 60dvmin"
	/>
	<!--
		I use an image instead of the highlight.js plugin because it's super heavy
		see https://x.com/jsulpis/status/1795536457819431408
	-->
	<!-- <CodeBlock lang="css">
		{
			`body {
	/* sRGB */
	background-color: rgb(0 255 0);
}

@media (color-gamut: p3) {
	body {
		/* P3 */
		background-color: color(display-p3 0 1 0);
  }
}`
		}
	</CodeBlock> -->
</Slide>

<Slide data-background-image={srgbP3Mismatch.src} />

<Slide
	data-background-image={figmaPreferences.src}
	data-background-size="contain"
/>

<Slide title="P3">
	<ul>
		<li>
			<strong>Designers</strong><br />Configurer son logiciel pour utiliser le
			profil de couleur P3 <br />(l'inclure aussi dans les images)
		</li>
		<li>
			<strong>Devs</strong><br />Préciser l'espace P3 dans ses codes couleurs
		</li>
	</ul>
</Slide>

<Slide>
	<h3 style="margin: 0">Il reste un problème... 🙄</h3>
</Slide>

<Slide title="Luminosité...">
	<img class="wheel" data-src={srgbIssue.src} alt="" />
</Slide>

<Slide title="Luminosité...">
	<p>Quantité de rouge / vert / bleu</p>
	<Luminosity client:visible />
</Slide>

<Slide title="... vs Luminance">
	<p><em>Sensation</em> visuelle de la luminosité</p>
	<Luminance client:visible />
</Slide>

<Slide>
	<img style="height: 80dvh" data-src={xyDiagram.src} alt="" />
</Slide>

<style>
	.wheel {
		height: 80dvh;
		margin-top: -8%;
	}
	.computer {
		height: 60dvh;
	}
	p {
		margin-top: -0.5em;
	}
	ul {
		max-width: 80dvw;
		list-style-type: "→  ";
	}
	li {
		margin-bottom: 1em;
	}
</style>
