---
interface Props {
	lang: string;
	lines?: string;
}

const { lang, lines } = Astro.props;
---

<span class="code-container">
	<span class="code-lang" data-id={`code-lang-${lang}`}>{lang}</span>
	<pre
		data-id={`code-pre-${lang}`}><code data-id={`code-code-${lang}`} class={`language-${lang}`} data-line-numbers={lines}><slot /></code></pre>
</span>

<style is:global lang="scss">
	.code-container {
		display: inline-block;
		text-align: left;
		font-size: 3.5rem;
	}

	.code-lang {
		font-size: 0.8em;
		margin-left: 0.5em;
	}

	.reveal .code-wrapper {
		display: flex;
		width: fit-content;
		border-radius: 0.5em;
		overflow: auto;
		margin: 0;

		& > code {
			width: fit-content;
			overflow: hidden;
			padding: 1em 2em;
			max-height: none;
		}
	}
</style>
