---
import Slide from "../../components/Slide.astro";
import CIERGB from "./cie-rgb/CIERGB.astro";
import CIEXYZ from "./cie-xyz/CIEXYZ.svelte";
import XYZExamples from "./cie-xyz/XYZExamples.astro";
import xyzVisible from "./assets/videos/XYZ-visible.webm";
import xyVisible from "./assets/videos/xy-Z-visible.webm";
import xyDiagram from "./assets/xy-base.png";
import xyDiagramLambda from "./assets/xy-lambda.png";
import xyColorMix from "./assets/xy-color-mix.png";
import xyCieRgb from "./assets/xy-cie-rgb-1.png";
import xyCieRgbWithLabel from "./assets/xy-cie-rgb-2.png";
import xysrgb from "./assets/xy-srgb.png";
import computerTv from "./assets/computer-tv.jpg";
import modernScreens from "./assets/modern-screens.webp";
import xyp3 from "./assets/xyp3.png";
import srgbP3Mismatch from "./assets/srgb-p3-mismatch.png";
import figmaPreferences from "./assets/figma-preferences.png";
import srgbIssue from "./assets/srgb-issue.png";
import ImageStack from "../../components/ImageStack.astro";
import PartTitle from "../../components/PartTitle.astro";
import SrgbRGB from "./srgb/SrgbRGB.svelte";
import SrgbRGB3d from "./srgb/SrgbRGB-3D.svelte";
import SrgbHSV3d from "./srgb/SrgbHSV-3D.svelte";
import SrgbHSV from "./srgb/SrgbHSV.svelte";
import SrgbHSL3d from "./srgb/SrgbHSL-3D.svelte";
import SrgbHSL from "./srgb/SrgbHSL.svelte";
import RecapSrgb from "./srgb/RecapSrgb.svelte";
import CodeBlock from "../../components/CodeBlock.astro";
import VideoSlide from "../../components/VideoSlide.astro";
---

<PartTitle>2. Comment représenter la couleur ?</PartTitle>

<CIERGB />

<Slide title="🎅 Une nouvelle notation...">
	<ul>
		<li class="fragment">Pas de valeurs négatives !</li>
		<li class="fragment">
			Une des coordonnées doit représenter la luminosité de la couleur
		</li>
		<li class="fragment">...</li>
	</ul>
</Slide>

<Slide title="CIE 1931 XYZ">
	<div is:raw>
		\[
		\begin{pmatrix}
			X \\
			Y \\
			Z \\
		\end{pmatrix} =
		\begin{pmatrix}
			0.49000 & 0.31000 & 0.20000 \\
			0.17697 & 0.81240 & 0.01063 \\
			0.00000 & 0.01000 & 0.99000 \\
		\end{pmatrix}
		\begin{pmatrix}
			R \\
			G \\
			B \\
		\end{pmatrix}
		\]
	</div>
</Slide>

<Slide title="CIE 1931 XYZ">
	<CIEXYZ client:visible />
</Slide>

<Slide title="CIE 1931 XYZ">
	<XYZExamples />
</Slide>

<VideoSlide title="CIE 1931 XYZ" src={xyzVisible} link="https://commons.wikimedia.org/wiki/File:Visible_gamut_within_CIEXYZ_color_space_D65_whitepoint_mesh.webm" authors="Michael Horvath, Christoph Lipka" />

<Slide title="CIE 1931 XYZ">
	<div is:raw>
		\[\begin{aligned}
			Y &= Y \\ \\
			x &= \frac{X}{X+Y+Z} \\ \\
			y &= \frac{Y}{X+Y+Z} \\ \\
		\end{aligned} \]
	</div>
</Slide>

<VideoSlide
	title="CIE 1931 XYZ"
	src={xyVisible}
	link="https://commons.wikimedia.org/w/index.php?title=File:Visible_gamut_within_CIExyY_color_space_D65_whitepoint_mesh.webm"
	authors="Michael Horvath, Christoph Lipka" />

<Slide title="Diagramme de chromaticité CIE 1931 xy">
	<ImageStack
		class="diagram-pictures"
		images={[
			xyDiagram.src,
			xyDiagramLambda.src,
			xyColorMix.src,
			xyCieRgb.src,
			xyCieRgbWithLabel.src,
		]}
	/>
</Slide>

<Slide title="1990's">
	<p>Premiers appareil numériques personnels</p>
	<img class="computer" src={computerTv.src} />
</Slide>

<Slide title="Rec.709 (vidéo) ≈ sRGB (image)">
	<img class="diagram-pictures" src={xysrgb.src} />
</Slide>

<Slide title="sRGB / RGB">
	<SrgbRGB client:visible />
</Slide>

<Slide title="sRGB / RGB">
	<SrgbRGB3d client:visible />
</Slide>

<Slide title="sRGB / HSL">
	<SrgbHSL client:visible />
</Slide>

<Slide title="sRGB / HSL">
	<SrgbHSL3d client:visible />
</Slide>

<Slide title="sRGB / HSB">
	<SrgbHSV client:visible />
</Slide>

<Slide title="sRGB / HSB">
	<SrgbHSV3d client:visible />
</Slide>

<Slide title="sRGB">
	<RecapSrgb client:visible />
</Slide>

<Slide title="2010's">
	<p>Des écrans plus performants</p>
	<img class="computer" src={modernScreens.src} />
</Slide>

<Slide title="P3">
	<img class="diagram-pictures" src={xyp3.src} />
</Slide>

<Slide>
	<CodeBlock lang="css" is:raw>
body {
	/* sRGB */
	background-color: rgb(0 255 0);
}

@media (color-gamut: p3) {
	body {
		/* P3 */
		background-color: color(display-p3 0 1 0);
  }
}

</CodeBlock>
</Slide>


<Slide data-background-image={srgbP3Mismatch.src}></Slide>

<Slide data-background-image={figmaPreferences.src} data-background-size="contain"></Slide>

<Slide>
	<ul>
		<li><strong>Designers</strong> &rightarrow; configurer son logiciel pour l'espace de couleur P3</li>
		<li><strong>Devs</strong> &rightarrow; préciser l'espace P3 dans ses codes couleurs</li>
	</ul>
</Slide>

<Slide>
	<h3 style="margin: 0">Il reste un problème... 🙄</h3>
</Slide>

<Slide data-background-image={srgbIssue.src} data-background-size="contain"></Slide>
<Slide>
	<img style="height: 80dvh" src={xyDiagram.src} alt="">
</Slide>

<style lang="scss">
	.mb-0 {
		margin-bottom: 0;
	}
	.diagram-pictures {
		height: 70dvh;
		width: auto;
	}
	.computer {
		height: 60dvh;
	}
	p {
		margin-top: -.5em;
	}
</style>
