---
import Slide from "../../components/Slide.astro";
import CIERGB from "./cie-rgb/CIERGB.svelte";
import RGBMonochromaticExamples from "./cie-rgb/RGBMonochromaticExamples.astro";
import RGBPolychromaticExamples from "./cie-rgb/RGBPolychromaticExamples.astro";
import CIEXYZ from "./cie-xyz/CIEXYZ.svelte";
import Requirements from "./cie-xyz/Requirements.astro";
import XYZExamples from "./cie-xyz/XYZExamples.astro";
import RGBExperiment from "./rgb-experiment/RGBExperiment.svelte";
import xyzVisible from "./assets/videos/XYZ-visible.webm";
import xyVisible from "./assets/videos/xy-Z-visible.webm";
import xyDiagram from "./assets/xy-base.png";
import xyDiagramLambda from "./assets/xy-lambda.png";
import xyColorMix from "./assets/xy-color-mix.png";
import xyCieRgb from "./assets/xy-cie-rgb-1.png";
import xyCieRgbWithLabel from "./assets/xy-cie-rgb-2.png";
import xysrgb from "./assets/xy-srgb.png";
import computerTv from "./assets/computer-tv.jpg";
import hexa from "./assets/hexa.png";
import ImageStack from "../../components/ImageStack.astro";
import PartTitle from "../../components/PartTitle.astro";
import SrgbRGB from "./srgb/SrgbRGB.svelte";
import SrgbRGB3d from "./srgb/SrgbRGB-3D.svelte";
import SrgbHSV3d from "./srgb/SrgbHSV-3D.svelte";
import SrgbHSV from "./srgb/SrgbHSV.svelte";
import SrgbHSL3d from "./srgb/SrgbHSL-3D.svelte";
import SrgbHSL from "./srgb/SrgbHSL.svelte";
---

<PartTitle>2. Comment représenter la couleur ?</PartTitle>

<Slide>
	<RGBExperiment client:visible />
</Slide>

<Slide>
	<CIERGB client:visible />
</Slide>

<Slide class="section-with-title">
	<h3 class="fragment">CIE 1931 RGB</h3>
	<div is:raw>
		\[\begin{aligned}
			R = \bar{r}(\lambda)\\ \\
			G = \bar{g}(\lambda)\\ \\
			B = \bar{b}(\lambda)
		\end{aligned} \]
	</div>
</Slide>

<Slide class="section-with-title">
	<h3>CIE 1931 RGB</h3>
	<RGBMonochromaticExamples />
</Slide>

<Slide class="section-with-title">
	<h3>CIE 1931 RGB</h3>
	<div is:raw>
		\[\begin{aligned}
			R = \int_{\lambda} DSP(\lambda)\ \bar{r}(\lambda)\ d\lambda \\ \\
			G = \int_{\lambda} DSP(\lambda)\ \bar{g}(\lambda)\ d\lambda \\ \\
			B = \int_{\lambda} DSP(\lambda)\ \bar{b}(\lambda)\ d\lambda
		\end{aligned} \]
	</div>
</Slide>

<Slide class="section-with-title">
	<h3>CIE 1931 RGB</h3>
	<RGBPolychromaticExamples />
</Slide>

<Slide class="section-with-title">
	<h3>🎅 Un nouvel espace de couleurs...</h3>
	<Requirements />
</Slide>

<Slide class="section-with-title">
	<h3>CIE 1931 XYZ</h3>
	<div is:raw>
		\[
		\begin{pmatrix}
			X \\
			Y \\
			Z \\
		\end{pmatrix} =
		\begin{pmatrix}
			0.49000 & 0.31000 & 0.20000 \\
			0.17697 & 0.81240 & 0.01063 \\
			0.00000 & 0.01000 & 0.99000 \\
		\end{pmatrix}
		\begin{pmatrix}
			R \\
			G \\
			B \\
		\end{pmatrix}
		\]
	</div>
</Slide>

<Slide class="section-with-title">
	<h3>CIE 1931 XYZ</h3>
	<CIEXYZ client:visible />
</Slide>


<Slide class="section-with-title">
	<h3>CIE 1931 XYZ</h3>
	<XYZExamples />
</Slide>

<Slide data-background-color="white">
	<video data-src={xyzVisible} loop data-autoplay></video>
	<aside>Credits: <a href="https://commons.wikimedia.org/wiki/File:Visible_gamut_within_CIEXYZ_color_space_D65_whitepoint_mesh.webm">Michael Horvath, Christoph Lipka</a></aside>
</Slide>

<Slide data-background-color="white">
	<div is:raw>
		\[\begin{aligned}
			Y &= Y \\ \\
			x &= \frac{X}{X+Y+Z} \\ \\
			y &= \frac{Y}{X+Y+Z} \\ \\
		\end{aligned} \]
	</div>
</Slide>

<Slide data-background-color="white">
	<video data-src={xyVisible} loop data-autoplay></video>
	<aside>Credits: <a href="https://commons.wikimedia.org/w/index.php?title=File:Visible_gamut_within_CIExyY_color_space_D65_whitepoint_mesh.webm">Michael Horvath, Christoph Lipka</a></aside>
</Slide>

<Slide class="section-with-title">
	<h3 class="mb-0">Diagramme de chromaticité CIE 1931 xy</h3>
	<ImageStack class="diagram-pictures" images={[xyDiagram.src, xyDiagramLambda.src, xyColorMix.src, xyCieRgb.src, xyCieRgbWithLabel.src]} />
</Slide>

<Slide class="section-with-title">
	<h3 class="mb-0">1990's</h3>
	<p>Premiers appareil numériques personnels</p>
	<img class="computer" src={computerTv.src}>
</Slide>

<Slide class="section-with-title">
	<h3 class="mb-0">Rec.709 (vidéo) ≈ sRGB (image)</h3>
	<img class="diagram-pictures" src={xysrgb.src} />
</Slide>

<Slide class="section-with-title">
	<h3>sRGB / RGB</h3>
	<SrgbRGB client:visible />
</Slide>

<Slide class="section-with-title">
	<h3 class="mb-0">sRGB / RGB</h3>
	<SrgbRGB3d client:visible />
</Slide>

<Slide class="section-with-title">
	<h3>sRGB / Hexadécimal</h3>
	<img class="hexa" src={hexa.src} />
</Slide>

<Slide class="section-with-title">
	<h3>sRGB / HSL</h3>
	<SrgbHSL client:visible />
</Slide>

<Slide class="section-with-title">
	<h3>sRGB / HSL</h3>
	<SrgbHSL3d client:visible />
</Slide>

<Slide class="section-with-title">
	<h3>sRGB / HSV</h3>
	<SrgbHSV client:visible />
</Slide>

<Slide class="section-with-title">
	<h3>sRGB / HSV</h3>
	<SrgbHSV3d client:visible />
</Slide>

<style lang="scss">
	.section-with-title {
		top: 0 !important;
	}
	h3 {
		margin-top: 15dvh;
		margin-bottom: 5rem;
	}
	.mb-0 {
		margin-bottom: 0;
	}
	.diagram-pictures {
		height: 70dvh;
		width: auto;
	}
	aside {
		position: absolute;
		font-size: .8rem;
		bottom: 1.5rem;
		left: 1.5rem;
		opacity: .4;
		a {
			text-decoration: underline;
			color: inherit;
		}
	}
	section[data-background-color="white"] {
		color: black;
		height: 100dvh;
		display: grid !important;
		place-items: center;
	}
	video {
		height: 80dvh;
	}
	.computer {
		height: 60dvh;
	}
	.hexa {
		height: 40dvh;
		margin-top: 5%;
	}
</style>
