---
import Slide from "../../components/Slide.astro";
import ColorMix from "./ColorMix.svelte";
import child from "./assets/child.webp";
import meme from "./assets/qui-s-en-fout.webp";
import recording from "./assets/recording.mov";
import questionBackground from "./assets/question-background.jpg";
import framesVideo from "./assets/frames-video.png";
import Title from "./Title.astro";
import IssuesWithRgb from "./IssuesWithRgb.astro";
import SectionTitle from "../../components/SectionTitle.astro";
---

<Title />

<SectionTitle background={questionBackground.src}>
	C'est quoi la couleur ?
</SectionTitle>

<Slide data-background-image={child.src} />

<Slide>
	<ColorMix client:visible />
</Slide>

<Slide data-background-image={meme.src} />

<Slide>
	<IssuesWithRgb />
</Slide>

<Slide>
	<div class="r-stack">
		<video data-src={recording} onclick="this.play()" loop></video>
		<img data-src={framesVideo.src} data-autoplay />
	</div>
</Slide>

<style lang="scss">
	img,
	video {
		display: block;
		margin: auto;
		height: 100dvh;
		object-fit: contain;
		max-width: none;
		max-height: none;
	}
</style>
