---
import Slide from "../../../components/Slide.astro";
import VideoSlide from "../../../components/VideoSlide.astro";
import XYZNotations from "./XYZNotations.astro";
import xyzVisible from "../assets/videos/XYZ-visible.webm";
import xyVisible from "../assets/videos/xy-Z-visible.webm";
import xyDiagramLambda from "../assets/xy-lambda.png";
import xyColorMix from "../assets/xy-color-mix.png";
import xyCieRgb from "../assets/xy-cie-rgb-1.png";
import xyCieRgbWithLabel from "../assets/xy-cie-rgb-2.png";
import xyDiagram from "../assets/xy-base.png";
import CIEXYZCurves from "./CIEXYZCurves.svelte";
---

<Slide title="🎅 Une nouvelle notation...">
	<ul>
		<li class="fragment">Pas de valeurs négatives !</li>
		<li class="fragment">
			Une des coordonnées doit représenter la luminosité <em>perçue</em> de la couleur
		</li>
		<li class="fragment">...</li>
	</ul>
</Slide>

<Slide title="CIE 1931 XYZ">
	<div is:raw>
		\[
		\begin{pmatrix}
			X \\
			Y \\
			Z \\
		\end{pmatrix} =
		\begin{pmatrix}
			0.49000 & 0.31000 & 0.20000 \\
			0.17697 & 0.81240 & 0.01063 \\
			0.00000 & 0.01000 & 0.99000 \\
		\end{pmatrix}
		\begin{pmatrix}
			R \\
			G \\
			B \\
		\end{pmatrix}
		\]
	</div>
</Slide>

<Slide title="CIE 1931 XYZ">
	<CIEXYZCurves client:visible />
</Slide>

<Slide title="CIE 1931 XYZ">
	<XYZNotations />
</Slide>

<VideoSlide
	title="CIE 1931 XYZ"
	src={xyzVisible}
	link="https://commons.wikimedia.org/wiki/File:Visible_gamut_within_CIEXYZ_color_space_D65_whitepoint_mesh.webm"
	authors="Michael Horvath, Christoph Lipka" />

<Slide title="CIE 1931 XYZ">
	<div is:raw>
		\[\begin{aligned}\\
			Y &= Y \\
			x &= \frac{X}{X+Y+Z} \\
			y &= \frac{Y}{X+Y+Z} \\
		\end{aligned} \]
	</div>
</Slide>

<VideoSlide
	title="CIE 1931 XYZ"
	src={xyVisible}
	link="https://commons.wikimedia.org/w/index.php?title=File:Visible_gamut_within_CIExyY_color_space_D65_whitepoint_mesh.webm"
	authors="Michael Horvath, Christoph Lipka" />

<Slide title="Diagramme de chromaticité CIE 1931 xy">
	<div class="r-stack">
		{[
			xyDiagram.src,
			xyDiagramLambda.src,
			xyColorMix.src,
			xyCieRgb.src,
			xyCieRgbWithLabel.src,
		].map((src, i) => <img class={`diagram${i > 0 ? ' fragment' : ''}`} data-src={src} />)}
	</div>
</Slide>

